/*

	FORM CTA's
	_cta._css

*/


.bbcid-form .radio-javascript-enabled .bbcid-radios-container label {
    padding: 8px 21px 8px 22px;
    background-color: #1790CF;
    color: #FFF;
    font-size: 16px;
    text-align: right;
    white-space: nowrap;
    float: none;
    cursor: pointer;
    position: relative;
}