/*

	FORM CTA's

*/
.bbcid-actions .bbcid-button,.bbcid-back-action{
    display:block;
    font-family:Arial,sans-serif;
    font-size:1.538em;
    font-weight:bold;
    letter-spacing:-0.05em;
    text-align:center;
    line-height:28px;
    border:0;
    float:left
}

.bbcid-rtl .bbcid-actions .bbcid-button,.bbcid-rtl .bbcid-back-action{
    float:right
}

.bbcid-actions .bbcid-button{
    padding:3px 10px 5px 10px;
    height:35px;
    min-width:80px
}

.bbcid-back-action{
    padding:16px 0;
    margin:0 16px;
    height:28px
}

.bbcid-actions a.bbcid-button{
    height:27px
}

.ie6 .bbcid-actions a.bbcid-button,.ie7 .bbcid-actions a.bbcid-button{
    margin-top:4px
}

.bbcid-actions input.bbcid-button{
    min-width:100px
}

.ie6 .bbcid-actions .bbcid-button,.ie7 .bbcid-actions .bbcid-button{
    line-height:1.3em;
    position:relative;
    top:-4px
}

.ie6 .bbcid-actions input.bbcid-button,.ie7 .bbcid-actions input.bbcid-button{
    padding:0;
    line-height:1.2em;
    position:static
}

.ie8 .bbcid-actions input.bbcid-button{
    padding:4px 0
}

.bbcid-actions .submit,.bbcid-actions .submit:link,.bbcid-actions .submit:visited{
    color:white;
    background-color:#1790cf
}

.bbcid-actions .submit:focus,.bbcid-actions .submit:hover,.bbcid-actions .submit:active{
    background-color:#005383;
    text-decoration:none
}

.bbcid-actions a.continue:link,.bbcid-actions a.continue:visited{
    color:white;
    background-color:#1790cf
}

.bbcid-actions a.continue:hover,.bbcid-actions a.continue:focus,.bbcid-actions a.continue:active{
    text-decoration:none;
    background-color:#005383
}

.bbcid-actions .submit.disabled{
    color:white;
    background-color:#c0c0c0
}