/*

	FORM CTA's

*/

.bbcid-button{


	.submit{

	}
	.cancel{

	}
}

.bbcid-actions .bbcid-button, .bbcid-back-action {
    display: block;
    font-family: Arial,sans-serif;
    font-size: 1.538em;
    font-weight: bold;
    letter-spacing: -0.05em;
    text-align: center;
    line-height: 28px;
    border: 0px none;
    float: left;
}