.bbcid-panel-form {
	background-color: #CCC;
	padding: 16px;
	min-width: 240px;
}

.bbcid-panel-message {
	@extend .bbcid-panel-form;
}

.bbcid-panel-3rdparty {
	@extend .bbcid-panel-form;
}

.bbcid-panel-informationbox {
	@extend .bbcid-panel-form;
}

.bbcid-panel-form-message {
	@extend .bbcid-panel-form;

}

.bbcid-panel-settings {
	@extend .bbcid-panel-form;
}


@media all and (min-width: 20em) {
	.bbcid-panel-form {
		max-width: 20em;
	}
}

@media all and (min-width: 25em) {
	.bbcid-panel-form {
		max-width: 25em;
	}

}

@media all and (min-width: 37.5em) {
	.bbcid-panel-form {
		max-width: 30em;
	}

}