/**

	LAYOUT - HEADERS
// _layout_headers.scss

**/

.bbcid-header {
    background: url("img/sprite.png") no-repeat scroll 7px -194px #1790CF;
    padding: 0px 7px;
    min-height: 64px;
    letter-spacing: -0.03em;
    overflow: hidden;
    max-height: 64px;
    h1 {
    	font-family: "Gill Sans";
    	font-weight: 500;
    	color: white;
    }

    .subheader {
    float: left;
    padding: 0px 11px;
    color: #E0F4FF;
    font-size: 2.615em;
    line-height: 2.25em;
    letter-spacing: -0.01em;
	}

}

