/*
	styleguide - variables
*/
body {
  background-color: #DCEAF3; }

.bbcid-styleguide-container {
  margin: 16px;
  min-width: 304px; }

.bbcid-styleguide-section {
  background-color: white;
  padding: 16px;
  margin-bottom: 16px; }

.bbcid-styleguide-type-sample {
  padding: 10px;
  border-bottom: 1px solid gray; }

.bbcid-panel-form, .bbcid-panel-message, .bbcid-panel-3rdparty, .bbcid-panel-informationbox, .bbcid-panel-form-message, .bbcid-panel-settings {
  background-color: #CCC;
  padding: 16px;
  min-width: 240px; }

@media all and (min-width: 20em) {
  .bbcid-panel-form, .bbcid-panel-message, .bbcid-panel-3rdparty, .bbcid-panel-informationbox, .bbcid-panel-form-message, .bbcid-panel-settings {
    max-width: 20em; } }
@media all and (min-width: 25em) {
  .bbcid-panel-form, .bbcid-panel-message, .bbcid-panel-3rdparty, .bbcid-panel-informationbox, .bbcid-panel-form-message, .bbcid-panel-settings {
    max-width: 25em; } }
@media all and (min-width: 37.5em) {
  .bbcid-panel-form, .bbcid-panel-message, .bbcid-panel-3rdparty, .bbcid-panel-informationbox, .bbcid-panel-form-message, .bbcid-panel-settings {
    max-width: 30em; } }
/**

	LAYOUT - HEADERS
// _layout_headers.scss

**/
.bbcid-header {
  background: url("img/sprite.png") no-repeat scroll 7px -194px #1790CF;
  padding: 0px 7px;
  min-height: 64px;
  letter-spacing: -0.03em;
  overflow: hidden;
  max-height: 64px; }
  .bbcid-header h1 {
    font-family: "Gill Sans";
    font-weight: 500;
    color: white; }
  .bbcid-header .subheader {
    float: left;
    padding: 0px 11px;
    color: #E0F4FF;
    font-size: 2.615em;
    line-height: 2.25em;
    letter-spacing: -0.01em; }

/*

	FORM INPUTS & LABELS

*/
.id-form-group {
  margin-bottom: 16px; }
  .id-form-group .id-input {
    border: 1px solid black;
    padding: 8px;
    width: 94%;
    max-width: 30em; }
  .id-form-group label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 8px; }

/*

	FORM CTA's

*/
.bbcid-actions .bbcid-button, .bbcid-back-action {
  display: block;
  font-family: Arial,sans-serif;
  font-size: 1.538em;
  font-weight: bold;
  letter-spacing: -0.05em;
  text-align: center;
  line-height: 28px;
  border: 0;
  float: left; }

.bbcid-rtl .bbcid-actions .bbcid-button, .bbcid-rtl .bbcid-back-action {
  float: right; }

.bbcid-actions .bbcid-button {
  padding: 3px 10px 5px 10px;
  height: 35px;
  min-width: 80px; }

.bbcid-back-action {
  padding: 16px 0;
  margin: 0 16px;
  height: 28px; }

.bbcid-actions a.bbcid-button {
  height: 27px; }

.ie6 .bbcid-actions a.bbcid-button, .ie7 .bbcid-actions a.bbcid-button {
  margin-top: 4px; }

.bbcid-actions input.bbcid-button {
  min-width: 100px; }

.ie6 .bbcid-actions .bbcid-button, .ie7 .bbcid-actions .bbcid-button {
  line-height: 1.3em;
  position: relative;
  top: -4px; }

.ie6 .bbcid-actions input.bbcid-button, .ie7 .bbcid-actions input.bbcid-button {
  padding: 0;
  line-height: 1.2em;
  position: static; }

.ie8 .bbcid-actions input.bbcid-button {
  padding: 4px 0; }

.bbcid-actions .submit, .bbcid-actions .submit:link, .bbcid-actions .submit:visited {
  color: white;
  background-color: #1790cf; }

.bbcid-actions .submit:focus, .bbcid-actions .submit:hover, .bbcid-actions .submit:active {
  background-color: #005383;
  text-decoration: none; }

.bbcid-actions a.continue:link, .bbcid-actions a.continue:visited {
  color: white;
  background-color: #1790cf; }

.bbcid-actions a.continue:hover, .bbcid-actions a.continue:focus, .bbcid-actions a.continue:active {
  text-decoration: none;
  background-color: #005383; }

.bbcid-actions .submit.disabled {
  color: white;
  background-color: #c0c0c0; }

/**

	UTILITIES

**/
body:after {
  content: "GEL Group 1a: 240-320px";
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.75em;
  background-color: rgba(23, 142, 207, 0.7);
  text-align: center;
  color: #fff; }

@media only screen and (min-width: 320px) {
  body:after {
    content: "GEL Group 1b: 320-399px"; } }
@media only screen and (min-width: 400px) {
  body:after {
    content: "GEL Group 2: 400-600px"; } }
@media only screen and (min-width: 600px) {
  body:after {
    content: "GEL Group 3: 600-899px"; } }
@media only screen and (min-width: 900px) {
  body:after {
    content: "GEL Group 3 (content-reflow): 900-1007px"; } }
@media only screen and (min-width: 1008px) {
  body:after {
    content: "GEL Group 4: 1008px+"; } }
.blq-clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
