@import 'id_styleguide_vars';


body {
	background-color: $bgblue;
}

.bbcid-styleguide-container {
	margin: 16px;
	min-width: 304px;
}
.bbcid-styleguide-section {
	background-color:white;
	padding: 16px;
	margin-bottom: 16px;
}
.bbcid-styleguide-type-sample {
	padding: 10px;
	border-bottom: 1px solid gray;
}

// FOUNDATION
@import 'layout_panels';
@import 'layout_headers';

// FORM ELEMENTS
@import 'form_input';


/**



**/