/*

    BBC ID - RESPONSIVE STYLEGUIDE

    About:


    Authors:
    Daniel Gonzalez (daniel.gonzalez@bbc.co.uk)
    Tim Spear (tim.spear@bbc.co.uk)


*/

/**

    STYLEGUIDE-SPECIFIC CLASSES

**/
body {
  background-color: #DCEAF3;
  font-family: Arial, sans-serif;
  font-size: 100%;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

code {
  font-size: 0.813rem;
  color: #1F1F1F;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.bbcid-styleguide-container {
  min-width: 240px;
}

.bbcid-styleguide-section {
  background-color: white;
  padding: 1em 0.5em;
  margin-bottom: 2em;
}

.bbcid-styleguide-type-sample {
  padding: 8px;
  border-bottom: 1px solid gray;
}

.bbcid-styleguide-note {
  color: #666;
}
div.bbcid-styleguide-notes {
  background-color: #F7F7F9;
  margin-top: 3rem;
  border: 1px solid #DCEAF3;
  padding: 0.6rem;
}


@media only screen and (min-width: 400px) {
  .bbcid-styleguide-container {
    margin-left: 16px;
    margin-right: 16px;
  }
}


/**


    FOUNDATION


**/

/* 
    

    TYPOGRAPHY


*/




.bbcid-styleguide-type p, .bbcid-styleguide-type a {
  color: #1F1F1F;
  font-size: 0.813rem;
  line-height: 1rem;
}
.bbcid-styleguide-type a {
  color: #005383;
  font-weight: bold;
}
@media only screen and (min-width: 320px) {
.bbcid-styleguide-type p, .bbcid-styleguide-type a {
    font-size: 1rem; /*16px*/
    line-height: 1.250rem; 
  }
}
@media only screen and (min-width: 600px) {
.bbcid-styleguide-type p, .bbcid-styleguide-type a {
  font-size: 0.813rem;
  line-height: 1rem;
  } 
.bbcid-styleguide-type a {
  font-weight: normal;
  }
}


/*


    COLOURS


*/


ul.grid {
  padding-left: 0;
}

.style-guide-colours__base,
.style-guide-colours__section {
  display: inline-block;
  width: 100%;
}

@media all and (min-width: 48em) {
  .style-guide-colours__section {
    width: 50%;
  }
}

.style-guide-colours__inner {
  padding: 16px 16px 0 16px;
  background-color: white;
}

.style-guide-colours__section-colour,
.style-guide-colours__colour {
  display: inline-block;
  vertical-align: top;
}

.style-guide-colours__colour {
  width: 25%;
  padding-left: 5px;
  padding-right: 5px; 
}

@media all and (min-width: 37.5em) {
    .style-guide-colours__colour {
      width: 16.66667%;
    }
}

@media all and (min-width: 48em) {
    .style-guide-colours__colour {
      width: 12%;
    }
}

.style-guide-colours__section-colour {
  width: 25%;
}

.style-guide-colour {
  text-align: center;
  margin-bottom: 24px; }
.style-guide-colour__circle {
  display: block;
  width: 100%;
  padding-bottom: 100%;
  padding-bottom: calc(100% - 2px);
  height: 0;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid #EDEDED;
  position: relative;
}

.style-guide-colour__circle:after {
  display: block;
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  bottom: -20px;
}

.style-guide-colour__label {
  display: block;
}

/* ORB Masthead */
.style-guide-colour--orb-masthead .style-guide-colour__circle {
  background-color: #1273A5;
}
.style-guide-colour--orb-masthead .style-guide-colour__circle:after {
  content: "#1273A5";
}

/* White */
.style-guide-colour--white .style-guide-colour__circle {
  background-color: #FFFFFF;
}
.style-guide-colour--white .style-guide-colour__circle:after {
  content: "#FFFFFF";
}

/* iD Header */
.style-guide-colour--id-header .style-guide-colour__circle {
  background-color: #1790CF;
}
.style-guide-colour--id-header .style-guide-colour__circle:after {
  content: "#1790CF";
}

/* iD Header - BBC iD */
.style-guide-colour--id-header-bbc-id .style-guide-colour__circle {
  background-color: #E0F4FF;
}
.style-guide-colour--id-header-bbc-id .style-guide-colour__circle:after {
  content: "#E0F4FF";
}

/* Links & Secondary CTA */
.style-guide-colour--secondary-cta .style-guide-colour__circle {
  background-color: #005383;
}
.style-guide-colour--secondary-cta .style-guide-colour__circle:after {
  content: "#005383";
}

/* Links (Hover) */
.style-guide-colour--links-hover .style-guide-colour__circle {
  background-color: #033452;
}
.style-guide-colour--links-hover .style-guide-colour__circle:after {
  content: "#033452";
}

/* Inactive CTA */
.style-guide-colour--inactive-cta .style-guide-colour__circle {
  background-color: #C0C0C0;
}
.style-guide-colour--inactive-cta .style-guide-colour__circle:after {
  content: "#C0C0C0";
}

/* Black */
.style-guide-colour--black .style-guide-colour__circle {
  background-color: #000000;
}
.style-guide-colour--black .style-guide-colour__circle:after {
  content: "#000000";
}

/*


    GRID


*/

.grid__item {
  display: inline-block;
  padding-left: 8px;}
  @media all and (min-width: 37.5em) {
    .grid__item {
      padding-left: 16px;
      padding-right: 0px;
      margin-bottom: 16px; } }

.grid__item-margin {
  margin-left: 8px; }
  @media all and (min-width: 37.5em) {
    .grid__item-margin {
      margin-left: 16px; } }

.style-guide-grid__item {
  margin-bottom: 16px;
}

.style-guide-grid__item--whole {
  width: 100%;
}

.style-guide-grid__item--third {
  width: 33.33333%;
}

.style-guide-grid__item--two-thirds {
  width: 66.66666%;
}

.style-guide-grid-item {
  background-color: #CCCCCC;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 8px;
  text-align: center;
}

/*


    PANELS


*/

@media only screen and (max-width: 240px) {
    .bbcid-panel-form, .bbcid-panel-message, .bbcid-panel-3rdparty, .bbcid-panel-informationbox, .bbcid-panel-form-message, .bbcid-panel-settings {
      padding: 8px; /*This should be margin*/
  }
}
@media only screen and (max-width: 320px) {
    .bbcid-panel-form, .bbcid-panel-message, .bbcid-panel-3rdparty, .bbcid-panel-informationbox, .bbcid-panel-form-message, .bbcid-panel-settings {
      padding: 8px; /*This should be margin*/
  }
}
@media only screen and (max-width: 400px) {
    .bbcid-panel-form, .bbcid-panel-message, .bbcid-panel-3rdparty, .bbcid-panel-informationbox, .bbcid-panel-form-message, .bbcid-panel-settings {
      padding: 16px; /*This should be margin*/
  }
}
@media only screen and (max-width: 600px) {
    .bbcid-panel-form, .bbcid-panel-message, .bbcid-panel-3rdparty, .bbcid-panel-informationbox, .bbcid-panel-form-message, .bbcid-panel-settings {
      padding: 16px; /*This should be margin*/
  }
}
@media only screen and (min-width: 900px) {
    .bbcid-panel-form, .bbcid-panel-3rdparty, .bbcid-panel-informationbox {
      max-width: 592px;
      padding: 16px; /*This should be margin*/
  }
}

.bbcid-panel-form, .bbcid-panel-message, .bbcid-panel-3rdparty, .bbcid-panel-informationbox, .bbcid-panel-form-message, .bbcid-panel-settings {
  background-color: #C0C0C0;
  padding: 16px;
  min-width: 224px; /*240px - padding*/
  border: 1px solid black;
}


/**


    LAYOUT - HEADERS


**/
.bbcid-header {
  background: url("../img/sprite.png") no-repeat scroll 7px -194px #1790CF;
  padding: 0px 7px;
  min-height: 64px;
  letter-spacing: -0.03em;
  overflow: hidden;
  max-height: 64px;
}

.bbcid-header h1 {
    font-family: "Gill Sans";
    font-weight: 500;
    color: white;
}

.bbcid-header .subheader {
    float: left;
    padding: 0px 11px;
    color: #E0F4FF;
    font-size: 2.615em;
    line-height: 2.25em;
    letter-spacing: -0.01em;
}

/*


  	FORM INPUTS & LABELS


*/
.bbcid-form input, .bbcid-form select, .bbcid-form label {
    display: block;
    box-sizing: border-box;
}


/* CONTAINER */
.bbcid-form .bbcid-field-container {
    margin-bottom: 16px;
    border: 0px none;
}

/* FORM LABELS */
.bbcid-form label, .bbcid-form legend {
    position: relative;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: -1px;
    line-height: 20px;
    white-space: normal;
    margin: 0px;
    width: 560px;
    color: #000;
}

/* FORM INPUTS */
.bbcid-form input.text,.bbcid-form input.password,.bbcid-form select {
  width: 100%;
  height: 33px;
  padding: 8px;
  border:1px solid #a7a7a7;
  font-size: 0.813em;
  font-family:Arial,sans-serif;
}


/* DOB FIELDS (EXISTING) */


#bbcid_dateofbirthundersixteen_day,#bbcid_dateofbirthundersixteen_month,#bbcid_dateofbirth_day,#bbcid_dateofbirth_month{
  width:40px;
  display:inline;
  text-align:center;
  margin-right:8px
}

.bbcid-rtl #bbcid_dateofbirthundersixteen_day .bbcid-rtl #bbcid_dateofbirth_day,.bbcid-rtl #bbcid_dateofbirthundersixteen_day,.bbcid-rtl #bbcid_dateofbirth_day{
  margin-right:0
}

#bbcid_dateofbirthundersixteen_year,#bbcid_dateofbirth_year{
  width:52px;
  display:inline;
  text-align:center
}

.bbcid-rtl #bbcid_dateofbirthundersixteen_year,.bbcid-rtl #bbcid_dateofbirth_year{
  margin-right:8px
}

.bbcid-form .dateofbirthundersixteen-container.bbcid-warning input.text,.bbcid-form .dateofbirthundersixteen-container.bbcid-valid input.text,.bbcid-form .dateofbirth-container.bbcid-warning input.text,.bbcid-form .dateofbirth-container.bbcid-valid input.text{
  padding:8px
}


/* DOB - VALIDATION STATES */
.bbcid-rtl .bbcid-warning #bbcid_dateofbirthundersixteen_day,.bbcid-rtl .bbcid-warning #bbcid_dateofbirthundersixteen_month,.bbcid-rtl .bbcid-warning #bbcid_dateofbirthundersixteen_year,.bbcid-rtl .bbcid-warning #bbcid_dateofbirth_day,.bbcid-rtl .bbcid-warning #bbcid_dateofbirth_month,.bbcid-rtl .bbcid-warning #bbcid_dateofbirth_year{
  background-position:263px -922px;
  padding-left:8px
}

.bbcid-rtl .bbcid-valid #bbcid_dateofbirthundersixteen_day,.bbcid-rtl .bbcid-valid #bbcid_dateofbirthundersixteen_month,.bbcid-rtl .bbcid-valid #bbcid_dateofbirthundersixteen_year,.bbcid-rtl .bbcid-valid #bbcid_dateofbirth_day,.bbcid-rtl .bbcid-valid #bbcid_dateofbirth_month,.bbcid-rtl .bbcid-valid #bbcid_dateofbirth_year{
  background-position:263px -922px;
  padding-left:6px
}

.bbcid-form .dateofbirthundersixteen-container.bbcid-warning,.bbcid-form .dateofbirth-container.bbcid-warning{
  background:url(img/sprite.png) no-repeat;
  background-position:224px -904px
}

.bbcid-rtl .bbcid-form .dateofbirthundersixteen-container.bbcid-warning,.bbcid-rtl .bbcid-form .dateofbirth-container.bbcid-warning{
  background-position:310px -904px
}

.bbcid-form .dateofbirthundersixteen-container.bbcid-valid,.bbcid-form .dateofbirth-container.bbcid-valid{
  background:url(img/sprite.png) no-repeat;
  background-position:224px -767px
}

.bbcid-rtl .bbcid-form .dateofbirthundersixteen-container.bbcid-valid,.bbcid-rtl .bbcid-form .dateofbirth-container.bbcid-valid{
  background-position:310px -767px
}




/* INPUTS - DOB - MOBILE STYLES (EXISTING) */

.bbcid-mobile-container #bbcid_dateofbirthundersixteen_day,.bbcid-mobile-container #bbcid_dateofbirthundersixteen_month,.bbcid-mobile-container #bbcid_dateofbirth_day,.bbcid-mobile-container #bbcid_dateofbirth_month{
  min-width:58px
}

.bbcid-mobile-container #bbcid_dateofbirthundersixteen_month,.bbcid-mobile-container #bbcid_dateofbirth_month{
  left:89px
}

.bbcid-mobile-container #bbcid_dateofbirthundersixteen_year,.bbcid-mobile-container #bbcid_dateofbirth_year{
  min-width:106px;
  left:178px
}

.bbcid-mobile-container .bbcid-form .dateofbirth-container.bbcid-valid,.bbcid-mobile-container .bbcid-form .dateofbirthundersixteen-container.bbcid-valid{
  background-image:none
}

.bbcid-mobile-container .bbcid-warning #bbcid_dateofbirthundersixteen_day,.bbcid-mobile-container .bbcid-valid #bbcid_dateofbirthundersixteen_day,.bbcid-mobile-container .bbcid-warning #bbcid_dateofbirth_day,.bbcid-mobile-container .bbcid-valid #bbcid_dateofbirth_day,.bbcid-mobile-container .bbcid-warning #bbcid_dateofbirthundersixteen_month,.bbcid-mobile-container .bbcid-valid #bbcid_dateofbirthundersixteen_month,.bbcid-mobile-container .bbcid-warning #bbcid_dateofbirth_month,.bbcid-mobile-container .bbcid-valid #bbcid_dateofbirth_month{
  min-width:61px
}

.bbcid-mobile-container .bbcid-warning #bbcid_dateofbirthundersixteen_year,.bbcid-mobile-container .bbcid-warning #bbcid_dateofbirth_year{
  min-width:106px
}

.bbcid-mobile-container .bbcid-warning #bbcid_dateofbirthundersixteen_year,.bbcid-mobile-container .bbcid-warning #bbcid_dateofbirth_year{
  min-width:106px
}

.bbcid-mobile-container .dateofbirthundersixteen-container.bbcid-warning span.bbcid-label-hint,.bbcid-mobile-container .dateofbirth-container.bbcid-warning span.bbcid-label-hint{
  min-width:280px;
  top:41px
}

.bbcid-mobile-container.bbcid-rtl .dateofbirthundersixteen-container.bbcid-warning span.bbcid-label-hint,.bbcid-mobile-container.bbcid-rtl .dateofbirth-container.bbcid-warning span.bbcid-label-hint{
  top:49px
}


.bbcid-form .bbcid-hint input.text,
.bbcid-form .bbcid-hint input.password,
.bbcid-form .bbcid-warning input.text,
.bbcid-form .bbcid-warning input.password,
.bbcid-form .bbcid-error input.text,
.bbcid-form .bbcid-error input.password,
.bbcid-form .bbcid-valid input.text,
.bbcid-form .bbcid-valid input.password {
  border-width: 2px;
  border-style: solid;
  padding-right: 40px;
}
.bbcid-form .bbcid-hint input.text {
  border-color: #ffad01;

}
.bbcid-form .bbcid-warning input.text {
    border-color: #a61616;
}


/* 1 COL HINT (UNDER INPUT BOX) */
.bbcid-hint-1col {
  color: black;
  font-size: 0.813em;
  font-weight: normal;
  letter-spacing: 0;
  background-color: #ffad01;
  border-color: #ffad01;
  border: 2px solid #ffad01;
  border-top-width: 0;
  padding: 8px;
}

.bbcid-hint-1col-warning {
  color: white;
  background-color: #a61616;
  border-color: #a61616;
  border: 2px solid #a61616;
}


.bbcid-hint-2col {

}




/* INPUTS - RESPONSIVE STYLES */

@media only screen and (min-width: 320px) {

   .bbcid-form label, .bbcid-form legend {
      font-size: 1.250em;
      margin: 0px 0px 8px
    }

    .bbcid-form input.text,.bbcid-form input.password,.bbcid-form select {
    font-size:1em;
    height: 42px;
  }

  .bbcid-label-hint {
    top: 120px;
  }

  .bbcid-hint-1col {
    font-size: 1em;
    font-weight: normal;
    letter-spacing: 0;
    padding: 10px;
  }

}

@media only screen and (min-width: 400px) { /* GEL Group 2 */
}

@media only screen and (min-width: 600px) { /* GEL Group 3a */
 
 .bbcid-form input.text,.bbcid-form input.password,.bbcid-form select {
    max-width: 252px; /* need to leave room for inline hint. */
  }

  .bbcid-hint-1col {
    display: none;
  }

}

@media only screen and (min-width: 900px) { /* GEL Group 3b */
}

@media only screen and (min-width: 1008px) { /* GEL Group 4 */
}












/*


  FORM CTA's


*/
.bbcid-actions .bbcid-button,.bbcid-back-action{
    display:block;
    font-family:Arial,sans-serif;
    font-size:1.538em;
    font-weight:bold;
    letter-spacing:-0.05em;
    text-align:center;
    line-height:28px;
    border:0;
    float:left
}

.bbcid-rtl .bbcid-actions .bbcid-button,.bbcid-rtl .bbcid-back-action{
    float:right
}

.bbcid-actions .bbcid-button{
    padding:3px 10px 5px 10px;
    height:35px;
    min-width:80px
}

.bbcid-back-action{
    padding:16px 0;
    margin:0 16px;
    height:28px
}

.bbcid-actions a.bbcid-button{
    height:27px
}

.ie6 .bbcid-actions a.bbcid-button,.ie7 .bbcid-actions a.bbcid-button{
    margin-top:4px
}

.bbcid-actions input.bbcid-button{
    min-width:100px
}

.ie6 .bbcid-actions .bbcid-button,.ie7 .bbcid-actions .bbcid-button{
    line-height:1.3em;
    position:relative;
    top:-4px
}

.ie6 .bbcid-actions input.bbcid-button,.ie7 .bbcid-actions input.bbcid-button{
    padding:0;
    line-height:1.2em;
    position:static
}

.ie8 .bbcid-actions input.bbcid-button{
    padding:4px 0
}

.bbcid-actions .submit,.bbcid-actions .submit:link,.bbcid-actions .submit:visited{
    color:white;
    background-color:#1790cf
}

.bbcid-actions .submit:focus,.bbcid-actions .submit:hover,.bbcid-actions .submit:active{
    background-color:#005383;
    text-decoration:none
}

.bbcid-actions a.continue:link,.bbcid-actions a.continue:visited{
    color:white;
    background-color:#1790cf
}

.bbcid-actions a.continue:hover,.bbcid-actions a.continue:focus,.bbcid-actions a.continue:active{
    text-decoration:none;
    background-color:#005383
}

.bbcid-actions .submit.disabled{
    color:white;
    background-color:#c0c0c0
}

/**


    TOGGLE BUTTONS


**/

.bbcid-form .bbcid-field-container{
  margin-bottom:16px;
  border:0
}

.bbcid-rtl p.bbcid-pre-form,.bbcid-rtl p.bbcid-post-form,.bbcid-rtl .bbcid-display-field-container p,.bbcid-rtl .bbcid-form .radio-javascript-enabled .bbcid-radios-container label,.bbcid-mobile-container.bbcid-rtl .bbcid-form .bbcid-radios-container label,.bbcid-mobile-container.bbcid-rtl .bbcid-form .isageold-container label,.bbcid-rtl .bbcid-content .alreadyhaveaccount-container p{
  font-size:1.39em;
  line-height:18px
}


.bbcid-form .bbcid-radios-container{
  max-width:306px
}

.bbcid-form .bbcid-radios-container label{
  font-size:1.230em;
  float:left;
  position:static;
  width:auto;
  padding:0 10px 0 10px;
  letter-spacing:0;
  margin-bottom:0
}

.bbcid-rtl .bbcid-form .bbcid-radios-container label{
  float:right
}

.ie6 .bbcid-form .bbcid-radios-container input.radio,.ie7 .bbcid-form .bbcid-radios-container input.radio{
  margin-top:0
}

.bbcid-form .bbcid-radios-container input.radio{
  float:left;
  clear:both;
  width:auto;
  margin:4px 0 0 0
}

.bbcid-rtl .bbcid-form .bbcid-radios-container input.radio{
  float:right
}

.bbcid-form .bbcid-radios-container .bbcid_false_container,.bbcid-form .bbcid-radios-container .bbcid_true_container{
  float:left;
  width:100%
}

.bbcid-rtl .bbcid-radios-container .bbcid_false_container,.bbcid-rtl .bbcid-radios-container .bbcid_true_container{
  float:right
}

.bbcid-form .bbcid-radios-container .bbcid_false_container{
  margin-top:0;
  margin-bottom:10px
}

.bbcid-form .radio-javascript-enabled input.radio{
  display:none
}

.bbcid-form .radio-javascript-enabled .bbcid_false_container,.bbcid-form .radio-javascript-enabled .bbcid_true_container{
  margin-top:0;
  width:auto;
  padding-right:10px
}

.bbcid-rtl .bbcid-form .radio-javascript-enabled .bbcid_false_container,.bbcid-rtl .bbcid-form .radio-javascript-enabled .bbcid_true_container{
  padding-right:0;
  padding-left:10px
}

.bbcid-form .radio-javascript-enabled a,.bbcid-form .radio-javascript-enabled a{
  text-decoration:none;
  display:block
}

.bbcid-form .radio-javascript-enabled .bbcid-label-hint{
  top:24px
}

.bbcid-form .radio-javascript-enabled .bbcid_false_container{
  margin-bottom:0
}

.bbcid-form .radio-javascript-enabled .bbcid-radios-container label{
  padding:8px 21px 8px 22px;
  background-color:#1790cf;
  color:#fff;
  font-size:16px;
  text-align:right;
  white-space:nowrap;
  float:none;
  cursor:pointer;
  position:relative
}

.bbcid-form .radio-javascript-enabled .bbcid-radios-container label.inactive{
  background-color:#a7a7a7
}

.bbcid-form .radio-javascript-enabled .bbcid-radios-container label:hover,.bbcid-form .radio-javascript-enabled .bbcid-radios-container label:focus,.bbcid-form .radio-javascript-enabled .bbcid-radios-container label.active{
  background-color:#005383
}

.bbcid-form .radio-javascript-enabled .bbcid-toggle-tick{
  width:13px;
  height:11px;
  background:url(../img/sprite.png) no-repeat;
  background-position:0 -1066px;
  left:10px;
  top:12px;
  position:absolute;
  display:block;
  opacity:0
}

.bbcid-rtl .bbcid-form .radio-javascript-enabled .bbcid-toggle-tick{
  left:auto;
  right:10px
}




/**


    RADIO BUTTONS


**/




/**


    CHECKBOXES


**/

.bbcid-checkbox-container label{
  padding-top:2px;
  margin-bottom:0
}

.bbcid-form .bbcid-checkbox-container input{
  float:left;
  margin:5px 0 13px 0
}

.bbcid-rtl .bbcid-form .bbcid-checkbox-container input{
  float:right
}

.ie6 .bbcid-form .bbcid-checkbox-container input,.ie7 .bbcid-form .bbcid-checkbox-container input{
  margin-top:1px
}

.bbcid-form .rememberme-container label{
  float:left;
  width:auto;
  margin-right:8px;
  margin-left:8px;
  font-size:1.231em
}

.bbcid-rtl .bbcid-form .rememberme-container label{
  float:right
}

.bbcid-form .rememberme-container .description{
  position:relative;
  top:5px
}

.bbcid-form .bbcid-checkbox-container>a{
  width:24px;
  height:24px;
  background-image:url(../img/sprite.png);
  background-repeat:no-repeat;
  background-position:0 -359px;
  display:block;
  float:left;
  position:relative
}

.bbcid-rtl .bbcid-form .bbcid-checkbox-container>a{
  float:right
}

.bbcid-form .bbcid-checkbox-container .checked{
  background-position:0 -383px
}




/**


      EXTRA UTILITY CLASSES


**/

/*
  RESPONSIVE REPORTER
*/
body:after {
  content: "GEL Group 1A: 240px - 319px";
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.75em;
  background-color: hsla(201, 80%, 45%, 0.7);
  text-align: center;
  color: #fff;
}
@media only screen and (min-width: 320px) {
  body:after {
    content: "GEL Group 1B: 320px - 399px";
  } 
}
@media only screen and (min-width: 400px) {
  body:after {
    content: "GEL Group 2: 400px - 599px";
  } 
}
@media only screen and (min-width: 600px) {
  body:after {
    content: "GEL Group 3A: 600px - 899px";
  } 
}
@media only screen and (min-width: 900px) {
  body:after {
    content: "GEL Group 3B: 900px - 1007px (Content Reflow)";
  } 
}
@media only screen and (min-width: 1008px) {
  body:after {
    content: "GEL Group 4: 1008px+";
  } 
}

/* CLEARFIX (from BBC base.css) */
.blq-clearfix::after{
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden
}
