/*
	styleguide - variables
*/
body {
  background-color: #DCEAF3; }

.bbcid-styleguide-container {
  margin: 16px;
  min-width: 304px; }

.bbcid-styleguide-section {
  background-color: white;
  padding: 16px;
  margin-bottom: 16px; }

.bbcid-styleguide-type-sample {
  padding: 10px;
  border-bottom: 1px solid gray; }

.bbcid-panel-form, .bbcid-panel-message, .bbcid-panel-3rdparty, .bbcid-panel-informationbox, .bbcid-panel-form-message, .bbcid-panel-settings {
  background-color: #CCC;
  padding: 16px;
  min-width: 240px; }

@media all and (min-width: 20em) {
  .bbcid-panel-form, .bbcid-panel-message, .bbcid-panel-3rdparty, .bbcid-panel-informationbox, .bbcid-panel-form-message, .bbcid-panel-settings {
    max-width: 20em; } }
@media all and (min-width: 25em) {
  .bbcid-panel-form, .bbcid-panel-message, .bbcid-panel-3rdparty, .bbcid-panel-informationbox, .bbcid-panel-form-message, .bbcid-panel-settings {
    max-width: 25em; } }
@media all and (min-width: 37.5em) {
  .bbcid-panel-form, .bbcid-panel-message, .bbcid-panel-3rdparty, .bbcid-panel-informationbox, .bbcid-panel-form-message, .bbcid-panel-settings {
    max-width: 30em; } }

/**

FOUNDATION

**/

/* TYPOGRAPHY */
/* GEL Typography CSS file */

/*

COLOURS

*/

.style-guide-colours__base,
.style-guide-colours__section {
  display: inline-block;
  width: 100%;
}

@media all and (min-width: 48em) {
  .style-guide-colours__section {
    width: 50%;
  }
}

.style-guide-colours__inner {
  padding: 16px 16px 0 16px;
  background-color: white;
}

.style-guide-colours__section-colour,
.style-guide-colours__colour {
  display: inline-block;
  vertical-align: top;
}

.style-guide-colours__colour {
  width: 25%;
}

@media all and (min-width: 37.5em) {
    .style-guide-colours__colour {
      width: 16.66667%;
    }
}

@media all and (min-width: 48em) {
    .style-guide-colours__colour {
      width: 12%;
    }
}

.style-guide-colours__section-colour {
  width: 25%;
}

.style-guide-colour {
  text-align: center;
  margin-bottom: 24px; }
.style-guide-colour__circle {
  display: block;
  width: 100%;
  padding-bottom: 100%;
  padding-bottom: calc(100% - 2px);
  height: 0;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid #EDEDED;
  position: relative;
}

.style-guide-colour__circle:after {
  display: block;
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  bottom: -20px;
}

.style-guide-colour__label {
  display: block;
}

/* ORB Masthead */
.style-guide-colour--orb-masthead .style-guide-colour__circle {
  background-color: #1273A5;
}
.style-guide-colour--orb-masthead .style-guide-colour__circle:after {
  content: "#1273A5";
}

/* White */
.style-guide-colour--white .style-guide-colour__circle {
  background-color: #FFFFFF;
}
.style-guide-colour--white .style-guide-colour__circle:after {
  content: "#FFFFFF";
}

/* iD Header */
.style-guide-colour--id-header .style-guide-colour__circle {
  background-color: #1790CF;
}
.style-guide-colour--id-header .style-guide-colour__circle:after {
  content: "#1790CF";
}

/* iD Header - BBC iD */
.style-guide-colour--id-header-bbc-id .style-guide-colour__circle {
  background-color: #E0F4FF;
}
.style-guide-colour--id-header-bbc-id .style-guide-colour__circle:after {
  content: "#E0F4FF";
}

/* Links & Secondary CTA */
.style-guide-colour--secondary-cta .style-guide-colour__circle {
  background-color: #005383;
}
.style-guide-colour--secondary-cta .style-guide-colour__circle:after {
  content: "#005383";
}

/* Links (Hover) */
.style-guide-colour--links-hover .style-guide-colour__circle {
  background-color: #033452;
}
.style-guide-colour--links-hover .style-guide-colour__circle:after {
  content: "#033452";
}

/* Inactive CTA */
.style-guide-colour--inactive-cta .style-guide-colour__circle {
  background-color: #C0C0C0;
}
.style-guide-colour--inactive-cta .style-guide-colour__circle:after {
  content: "#C0C0C0";
}

/* Black */
.style-guide-colour--black .style-guide-colour__circle {
  background-color: #000000;
}
.style-guide-colour--black .style-guide-colour__circle:after {
  content: "#000000";
}

/*

GRIDS

*/


/**
	LAYOUT - HEADERS
// _layout_headers.scss
**/
.bbcid-header {
  background: url("img/sprite.png") no-repeat scroll 7px -194px #1790CF;
  padding: 0px 7px;
  min-height: 64px;
  letter-spacing: -0.03em;
  overflow: hidden;
  max-height: 64px; }
  .bbcid-header h1 {
    font-family: "Gill Sans";
    font-weight: 500;
    color: white; }
  .bbcid-header .subheader {
    float: left;
    padding: 0px 11px;
    color: #E0F4FF;
    font-size: 2.615em;
    line-height: 2.25em;
    letter-spacing: -0.01em; }

/*

	FORM INPUTS & LABELS

*/
.id-form-group {
  margin-bottom: 16px; }
  .id-form-group .id-input {
    border: 1px solid black;
    padding: 8px;
    width: 94%;
    max-width: 30em; }
  .id-form-group label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 8px; }

/*

	FORM CTA's

*/
/**



**/
