@import 'id_styleguide_vars';


body {
	background-color: $bgblue;
}

.bbcid-styleguide-container {
	margin: 16px;
	min-width: 304px;
}
.bbcid-styleguide-section {
	background-color:white;
	padding: 16px;
	margin-bottom: 16px;
}
.bbcid-styleguide-type-sample {
	padding: 10px;
	border-bottom: 1px solid gray;
}

// FOUNDATION
@import 'layout_panels';
@import 'layout_headers';

// FORM ELEMENTS
@import 'form_input';
@import 'form_cta';


/**

	UTILITIES

**/

body:after {
	content: "GEL Group 1a: 240-320px";
	position: fixed;
	top: 0;
	width: 100%;
	padding: 0.75em;
	background-color: hsla(201, 80%, 45%, 0.7);
	text-align: center;
	color: #fff;
}
@media only screen and (min-width: 320px) {
	body:after {
		content: "GEL Group 1b: 320-399px";
	}	
}
@media only screen and (min-width: 400px) {
	body:after {
		content: "GEL Group 2: 400-600px";
	}	
}
@media only screen and (min-width: 600px) {
	body:after {
		content: "GEL Group 3: 600-899px";
	}	
}
@media only screen and (min-width: 900px) {
	body:after {
		content: "GEL Group 3 (content-reflow): 900-1007px";
	}	
}
@media only screen and (min-width: 1008px) {
	body:after {
		content: "GEL Group 4: 1008px+";
	}	
}

.blq-clearfix::after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}