// debugging helpers

.bg-grey1 {
	background-color: #DDD;
	border: 1px dotted #CCC;
	padding:10px;
}
.bg-grey2 {
	background-color: #BBB;
	border: 1px dotted #CCC;
	padding:10px;
}
.bg-grey3 {
	background-color: #AAA;
	border: 1px dotted #CCC;
	padding:10px;
}