/*

    BBC ID - RESPONSIVE STYLEGUIDE

    About:

    Authors:
    Daniel Gonzalez (daniel.gonzalez@bbc.co.uk)
    Tim Spear (tim.spear@bbc.co.uk)


*/

/**

    STYLEGUIDE-SPECIFIC CLASSES

**/
body {
  background-color: #DCEAF3;
  font-family: Arial, sans-serif;
  font-size: 100%;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  color: #1F1F1F;
}

p {
  margin-top: 0px;
}

code {
  font-size: 0.813rem;
  color: #1F1F1F;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: #005383;
}
a:hover {
  color: #013452; 
}

  
.bbcid-styleguide-nav {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 240px;
  padding: 0.75em;
  background-color: hsla(201, 80%, 45%, 0.8);
  font-size: 1em;
  text-align: left;
  color: #fff;
  z-index: 1;
  opacity: 0.6;
}

.bbcid-styleguide-nav a {
  font-size: 0.7em;
  color: #FFF;
  padding-left: 0.5em;
  border-left: 1px dotted white;
  display: none;
}


.bbcid-styleguide-container {
  min-width: 240px;
}

.bbcid-styleguide-section {
  background-color: white;
  padding: 1em 0.5em;
  margin-top: 3em; /* Adds margin at top of page so GEL group size display doesn't overlap header text */
  margin-bottom: 2em;
}

.bbcid-styleguide-demosection {
  margin-bottom: 2em;
}

.style-guide-section__h2 {
  padding-bottom: 1em;
  border-bottom: 1px solid #CCC;
}

.bbcid-styleguide-type-sample {
  padding: 8px;
  border-bottom: 1px solid gray;
}

.bbcid-styleguide-notes {
  color: #666;
  cursor: pointer; /* Changes cursor on drop down note and show style links */
}

.ui-state-hover {
  color: #333; /* Darkens note and show style links when hovered over */
}

.bbcid-styleguide-notes h3 {
  font-size: 0.813em;
  text-align: right;
}

div.bbcid-styleguide-notes div{
  background-color: #F7F7F9;
  border: 1px solid #DCEAF3;
  padding: 0.25em 1em;
  border-radius: 0.25em;
}

img.bbcid-styleguide-img-responsive {
  max-width:100%;
  height: auto;
}

img.bbcid-styleguide-exampleimg {
  border: 1px solid #CCC;
}


.bbcid-styleguide-menu-list {
  padding-left: 1em;
}
.bbcid-styleguide-menu-list li {
  list-style: none;
}

@media only screen and (min-width: 400px) {
  .bbcid-styleguide-container {
    margin-left: 16px;
    margin-right: 16px;
  }
  .bbcid-styleguide-nav a {
    display: inline;
  }
}


/**


      FOUNDATION


**/

/* 
    

      TYPOGRAPHY


*/



/* paragraph text */
.bbcid-styleguide-type p, .bbcid-styleguide-type a {
  color: #1F1F1F;
  font-size: 0.813rem;
  line-height: 1rem;
  margin-bottom: 8px;
}

/* links */
.bbcid-styleguide-type a {
  color: #005383;
  font-weight: bold;
}

/* Headlines */

.bbcid-styleguide-type h2,
.bbcid-styleguide-type h3 {
    font-size: 20px;
    line-height: 1em;
    letter-spacing: -1px;
    padding: 8px 8px;
}

 .bbcid-styleguide-type h3 {
    font-weight: normal;
  }

.bbcid-styleguide-type h4 {
  padding: 4px 0px;
  margin-top: 8px;
    margin-bottom: 8px;
}

.bbcid-styleguide-type h5 {
  padding: 4px 0px;
  margin-top: 8px;
    margin-bottom: 8px;
}


/* email */
p.email-doublecheck {
    color: #159008;
    font-weight: bold;
    font-size: 0.813em;
    margin: 16px 0px 6px;
    word-wrap: break-word;
}

.bbcid-form .bbcid-forgotpassword {
    text-align: right;
    margin-top: 8px;
}

@media only screen and (max-width: 319px) { /* GEL Group 1a */
  .bbcid-styleguide-type p,
  .bbcid-styleguide-type a {
      font-size: 1rem; /* 16px */
      line-height: 1.250rem; 
  }

  .bbcid-styleguide-type h2,
  .bbcid-styleguide-type h3 {
      font-size: 24px;
      line-height: 1em;
      padding: 8px 0px 8px 0px;
      margin: 0px 0px 0px 0px;
  }

   .bbcid-styleguide-type h3 {
    font-weight: normal;
  }

   .bbcid-styleguide-type h4 {
  }

   .bbcid-styleguide-type h5 {
  }

  p.email-doublecheck {
    font-size: 1em;
    margin: 0px;
    padding-bottom: 8px;
  }

  p.caption {
    font-weight: bold;
    margin-bottom: 16px;
  }
}

@media only screen and (min-width: 320px) { /* GEL Group 1b */
  .bbcid-styleguide-type p,
  .bbcid-styleguide-type a {
      font-size: 1rem; /* 16px */
      line-height: 1.250rem; 
  }

  .bbcid-styleguide-type h2,
  .bbcid-styleguide-type h3 {
      font-size: 24px;
      line-height: 1em;
      padding: 8px 0px 8px 0px;
      margin: 0px 0px 0px 0px;
  }

   .bbcid-styleguide-type h3 {
    font-weight: normal;
  }

   .bbcid-styleguide-type h4 {
  }

   .bbcid-styleguide-type h5 {
  }

  p.email-doublecheck {
    font-size: 1em;
    margin: 0px;
    padding: 0px;
  }

  p.caption {
    font-weight: bold;
    margin-bottom: 16px;
  }
}

@media only screen and (min-width: 600px) { /* GEL Group 3a */
  .bbcid-styleguide-type p,
  .bbcid-styleguide-type a {
    font-size: 0.813rem;
    line-height: 1rem;
    margin-bottom: 12px;
  }

  .bbcid-styleguide-type a {
    font-weight: normal;
  }

  .bbcid-styleguide-type p, .bbcid-actions {
    /*margin-left: 256px;*/
  }
 
 .bbcid-styleguide-type a:hover {
    text-decoration: underline;
  }

  .bbcid-styleguide-type h2,
  .bbcid-styleguide-type h3 {
      font-size: 28px;
      line-height: 32px;
      letter-spacing: -1px;
      padding: 4px 0px;
      margin-top: 8px;
      margin-bottom: 8px;
      /*margin-left: 256px;*/
  }

  .bbcid-styleguide-type h3 {
    font-weight: normal;
  }

   .bbcid-styleguide-type h4 {
    /*margin-left: 256px;*/
  }

   .bbcid-styleguide-type h5 {
    /*margin-left: 256px;*/
  }

  p.email-doublecheck {
    font-size: 1.5em;
    /*margin: 16px 0px 6px 256px;*/
    margin: 16px 0px 6px 0px;
    padding: 0px;
  }

  p.caption {
    font-weight: bold;
    margin-bottom: 24px;
    /*margin-left: 256px;*/
  }

  p.bbcid-pre-form, h3.bbcid-pre-form {
    padding: 16px;
    font-size: 16px;
    background-color: white;
    margin-bottom: 0;
    border-bottom: 1px solid #dceaf3;
  }

  .bbcid-section-info{
  background-color:white;
  padding:1px 16px;
  margin-bottom:16px
}

.bbcid-subsection-whatis,
.bbcid-subsection-whatis-minimal,
.bbcid-subsection-additionalinfo,
.bbcid-subsection-help{
  margin-left:40px;
  padding-left:4px;
  position:relative
}

.bbcid-rtl .bbcid-subsection-whatis,
.bbcid-rtl .bbcid-subsection-whatis-minimal,
.bbcid-rtl .bbcid-subsection-additionalinfo,
.bbcid-rtl .bbcid-subsection-help{
  margin-left:0;
  padding-left:0;
  margin-right:40px
}

.bbcid-subsection-help{
  margin-top:16px;
  padding-bottom:8px
}

.bbcid-subsection-whatis-icon,
.bbcid-subsection-additionalinfo-icon{
  width:33px;
  height:32px;
  background-image:url(img/sprite.png);
  background-repeat:no-repeat;
  position:absolute;left:-40px;
  top:4px
}

.bbcid-rtl .bbcid-subsection-whatis-icon,
.bbcid-rtl .bbcid-subsection-additionalinfo-icon{
  left:304px
}

.bbcid-subsection-whatis-minimal .bbcid-subsection-whatis-icon{top:0}

.bbcid-subsection-whatis-icon{background-position:0 -1077px}

.bbcid-subsection-additionalinfo-icon{background-position:0 -1109px}

}


/*


    GRID


*/

.grid__item {
  display: inline-block;
  padding-left: 8px;}
  @media all and (min-width: 37.5em) {
    .grid__item {
      padding-left: 16px;
      padding-right: 0px;
      margin-bottom: 16px; } }

.grid__item-margin {
  margin-left: 8px; }
  @media all and (min-width: 37.5em) {
    .grid__item-margin {
      margin-left: 16px; } }

.style-guide-grid__item {
  margin-bottom: 16px;
}

.style-guide-grid__item--whole {
  width: 100%;
}

.style-guide-grid__item--third {
  width: 33.33333%;
}

.style-guide-grid__item--two-thirds {
  width: 66.66666%;
}

.style-guide-grid-item {
  background-color: #CCCCCC;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 8px;
  text-align: center;
}

/*


    PANELS


*/

.bbcid-panel-bg {
  background-color: #DCEAF3;
  margin: 0px;
  padding: 0px;
}

.bbcid-panel-container {
  
  background-color: rgba(255,255,255,0.4);

  width: 100%;
  max-width: 976px;
 
  margin-left: auto;
  margin-right: auto;

}

.bbcid-panel-1col {
  background-color: #FFF;
  max-width: 944px; /* for GEL group 4 */
  
  padding-left: 8px;
  padding-right: 8px;

  padding-top: 1em;
  padding-bottom: 1em;

  margin-left: auto;
  margin-right: auto;

  /* border: 1px solid #CCC; debug*/
}


.bbcid-panel-2col-content {
  background-color: #FFF;

  box-sizing: border-box;
  width: 100%;
  float: left;

  padding-left: 8px;
  padding-right: 8px;

padding-top: 1em;
padding-bottom: 1em;

  /* border: 1px solid #CCC; debug*/
}

.bbcid-panel-2col-info {
  background-color: #FFF;

  box-sizing: border-box;
  width: 100%;
  float: right;
  padding-left: 8px;
  padding-right: 8px;

padding-top: 1em;
padding-bottom: 1em;

  /* border: 1px solid #CCC; debug*/
}

.bbcid-panel-form,
.bbcid-panel-3rdparty,
.bbcid-panel-informationbox,
.bbcid-panel-form-message,
.bbcid-panel-settings {
  background-color: #EEE;
  padding: 16px;
  min-height: 300px;
  text-align: center;
  /*min-width: 224px;*/ /*240px - padding*/
  /*border: 1px solid black;*/
}


/* RESPONSIVE SIZES */
@media only screen and (max-width: 319px) {
  .about-bbc-id, .page-icon-message {
    display: none;
  }
}

@media only screen and (max-width: 599px) {
  .page-icon-message {
    display: none;
  }
}

@media only screen and (min-width: 400px) {
  .bbcid-panel-1col,
  .bbcid-panel-2col-content {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media only screen and (max-width: 899px) {
  .about-bbc-id {
    display: none;
  }
}

@media only screen and (min-width: 900px) { /* GEL Group 3b */

  .bbcid-can-move {
    width: 62%;
  }
  .bbcid-panel-2col-content {
    width: 62%;
    margin-right: 16px;
  }

  .bbcid-panel-2col-info {
    width: 36%;
  }

}

@media only screen and (min-width: 1008px) { /* GEL Group 4 */

  .bbcid-panel-2col-content {
    /* this panel is fixed 645 at group 4*/
    width: 630px;
    max-width: 645px;
    margin-right: 16px;
  }

  .bbcid-panel-2col-info {
    /* this panel is fixed 315 at group 4*/
    width: 315px;
    max-width: 315px;
  }

}





/**


    LAYOUT - HEADERS


**/

.bbcid-header {
    background: #1790CF;
    padding: 0px 7px;
    letter-spacing: -0.03em;
    overflow: hidden;
    max-height: 40px;
}

.bbcid-header h1 {
    font-family: "Gill Sans";
    font-weight: 400;
    font-size: 24px;
    color: white;
    line-height: 1.667em;
    letter-spacing: -1px;
    
    margin: 0 0 0 0px;
    margin-right: 8px;
    display: block;

    height: auto;
    padding-left: 0;
    float: left;
}

.bbcid-header .subheader {
    display: none;
    float: left;
    padding: 0px 11px;
    margin: 0px;
    color: #E0F4FF;

    font-family: "Gill Sans",Arial,sans-serif;
    height: 66px;
    font-size: 34px;
    font-weight:400;
    line-height: 2.25em;
    letter-spacing: -0.01em;
}

@media only screen and (min-width: 320px) { /* GEL Group 1b */
    
    .bbcid-header {
      padding: 0px 7px;
      letter-spacing: -0.03em;
      max-height: 42px;
    }

    .bbcid-header h1 {
        font-size: 26px;
    }

}

@media only screen and (min-width: 600px) { /* GEL Group 3a */

  .bbcid-header {
    background: url("../img/sprite.png") no-repeat scroll 7px -194px #1790CF;
    padding-left: 58px;

    min-height: 64px;
    max-height: 64px;
  }

  .bbcid-header h1 {
    font-size: 48px;
    line-height: 1.36em;
  }
  
  .bbcid-header .subheader {
    display: inline;
  }

}


/*


  	FORM INPUTS & LABELS


*/
.bbcid-form input, .bbcid-form select, .bbcid-form label {
    display: block;
    box-sizing: border-box;
}


/* CONTAINER */
.bbcid-form .bbcid-field-container {
    margin-bottom: 16px;
    border: 0px none;
}

/* FORM LABELS */
.bbcid-form label, .bbcid-form legend {
    position: relative;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: -1px;
    line-height: 20px;
    white-space: normal;
    margin: 0px;
    max-width: 560px;
    color: #000;
}

/* FORM INPUTS */
.bbcid-form input.text,
.bbcid-form input.password,
.bbcid-form select {
  width: 100%;
  height: 33px;
  padding: 8px;
  border:1px solid #a7a7a7;
  border-radius: 0;
  -webkit-appearance: none;
  box-shadow: none;
  -webkit-border-radius: 0;

  font-size: 0.813em;
  font-family:Arial,sans-serif;
}




/* INPUTS - DOB - MOBILE STYLES (EXISTING) */

.bbcid-mobile-container #bbcid_dateofbirthundersixteen_day,.bbcid-mobile-container #bbcid_dateofbirthundersixteen_month,.bbcid-mobile-container #bbcid_dateofbirth_day,.bbcid-mobile-container #bbcid_dateofbirth_month{
  min-width:58px
}

.bbcid-mobile-container #bbcid_dateofbirthundersixteen_month,.bbcid-mobile-container #bbcid_dateofbirth_month{
  left:89px
}

.bbcid-mobile-container #bbcid_dateofbirthundersixteen_year,.bbcid-mobile-container #bbcid_dateofbirth_year{
  min-width:106px;
  left:178px
}

.bbcid-mobile-container .bbcid-form .dateofbirth-container.bbcid-valid,.bbcid-mobile-container .bbcid-form .dateofbirthundersixteen-container.bbcid-valid{
  background-image:none
}

.bbcid-mobile-container .bbcid-warning #bbcid_dateofbirthundersixteen_day,.bbcid-mobile-container .bbcid-valid #bbcid_dateofbirthundersixteen_day,.bbcid-mobile-container .bbcid-warning #bbcid_dateofbirth_day,.bbcid-mobile-container .bbcid-valid #bbcid_dateofbirth_day,.bbcid-mobile-container .bbcid-warning #bbcid_dateofbirthundersixteen_month,.bbcid-mobile-container .bbcid-valid #bbcid_dateofbirthundersixteen_month,.bbcid-mobile-container .bbcid-warning #bbcid_dateofbirth_month,.bbcid-mobile-container .bbcid-valid #bbcid_dateofbirth_month{
  min-width:61px
}

.bbcid-mobile-container .bbcid-warning #bbcid_dateofbirthundersixteen_year,.bbcid-mobile-container .bbcid-warning #bbcid_dateofbirth_year{
  min-width:106px
}

.bbcid-mobile-container .bbcid-warning #bbcid_dateofbirthundersixteen_year,.bbcid-mobile-container .bbcid-warning #bbcid_dateofbirth_year{
  min-width:106px
}

.bbcid-mobile-container .dateofbirthundersixteen-container.bbcid-warning span.bbcid-label-hint,.bbcid-mobile-container .dateofbirth-container.bbcid-warning span.bbcid-label-hint{
  min-width:280px;
  top:41px
}

.bbcid-mobile-container.bbcid-rtl .dateofbirthundersixteen-container.bbcid-warning span.bbcid-label-hint,.bbcid-mobile-container.bbcid-rtl .dateofbirth-container.bbcid-warning span.bbcid-label-hint{
  top:49px
}

.bbcid-mobile-container .bbcid-error #bbcid_dateofbirthundersixteen_day,.bbcid-mobile-container .bbcid-valid #bbcid_dateofbirthundersixteen_day,.bbcid-mobile-container .bbcid-warning #bbcid_dateofbirth_day,.bbcid-mobile-container .bbcid-valid #bbcid_dateofbirth_day,.bbcid-mobile-container .bbcid-warning #bbcid_dateofbirthundersixteen_month,.bbcid-mobile-container .bbcid-valid #bbcid_dateofbirthundersixteen_month,.bbcid-mobile-container .bbcid-warning #bbcid_dateofbirth_month,.bbcid-mobile-container .bbcid-valid #bbcid_dateofbirth_month{
  min-width:61px
}

.bbcid-mobile-container .bbcid-error #bbcid_dateofbirthundersixteen_year,.bbcid-mobile-container .bbcid-error #bbcid_dateofbirth_year{
  min-width:106px
}

.bbcid-mobile-container .bbcid-error #bbcid_dateofbirthundersixteen_year,.bbcid-mobile-container .bbcid-error #bbcid_dateofbirth_year{
  min-width:106px
}

.bbcid-mobile-container .dateofbirthundersixteen-container.bbcid-error span.bbcid-label-hint,.bbcid-mobile-container .dateofbirth-container.bbcid-error span.bbcid-label-hint{
  min-width:280px;
  top:41px
}

.bbcid-mobile-container.bbcid-rtl .dateofbirthundersixteen-container.bbcid-error span.bbcid-label-hint,.bbcid-mobile-container.bbcid-rtl .dateofbirth-container.bbcid-error span.bbcid-label-hint{
  top:49px
}



/* INPUT HINTS */


.bbcid-form .bbcid-hint input.text,
.bbcid-form .bbcid-hint input.password {
  border-width: 1px;
}

.bbcid-form .bbcid-warning input.text,
.bbcid-form .bbcid-warning input.password,
.bbcid-form .bbcid-error input.text,
.bbcid-form .bbcid-error input.password,
.bbcid-form .bbcid-valid input.text,
.bbcid-form .bbcid-valid input.password {
  border-width: 2px;
}

.bbcid-form .bbcid-hint input.text,
.bbcid-form .bbcid-hint input.password,
.bbcid-form .bbcid-warning input.text,
.bbcid-form .bbcid-warning input.password,
.bbcid-form .bbcid-error input.text,
.bbcid-form .bbcid-error input.password,
.bbcid-form .bbcid-valid input.text,
.bbcid-form .bbcid-valid input.password {
  border-style: solid;
  padding-right: 40px;
}

.bbcid-form .bbcid-hint input.text {
  border-color: #a7a7a7;

}
.bbcid-form .bbcid-warning input.text {
    border-color: #FFAD01;
}

.bbcid-form .bbcid-error input.text {
    border-color: #a61616;
}

.bbcid-form .valid input.text {
    border: 2px solid #169009;
}

/* 1 COL HINT (UNDER INPUT BOX) */
.bbcid-hint-1col {
  color: #000;
  font-size: 0.813em;
  font-weight: normal;
  letter-spacing: 0;
  background-color: #F5F7F6;
  border-color: #F5F7F6;
  border: 2px solid #F5F7F6;
  border-top-width: 0;
  padding: 8px;
  clear: both;
}

.bbcid-hint-1col-warning {
  color: #000;
  background-color: #ffad01;
  border-color: #ffad01;
  border: 2px solid #ffad01;
}

.bbcid-hint-1col-error {
  color: white;
  background-color: #a61616;
  border-color: #a61616;
  border: 2px solid #a61616;
}

/* 2 COL HINT (TO RIGHT OF INPUT BOX) */

.bbcid-hint-2col {
    display: none; /* hide at smallest breakpoint */
    background-color: #F5F7F6;
    color: #525252;
    font-size: 0.75em;
    font-weight: normal;
    letter-spacing: 0px;
    width: 208px;
    padding: 13px 16px 12px;
}


.bbcid-hint-2col-warning {
  color: #000;
  background-color: #FFE141;
}

.bbcid-hint-2col-error {
  color: #FFF;
  background-color: #a61616;
}

.bbcid-hint-2col:before {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    overflow: hidden;
    position: absolute;
    top: 17px;
    left: -22px;
    border-width: 11px;
    border-style: solid;
    border-color: transparent #F5F7F6 transparent transparent;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}
.bbcid-hint-2col-warning:before {
      border-color: transparent #FFE141 transparent transparent;
}

.bbcid-hint-2col-error:before {
      border-color: transparent #a61616 transparent transparent;
}


/* INPUTS - RESPONSIVE STYLES */

@media only screen and (min-width: 320px) {

  .bbcid-form label, .bbcid-form legend {
      font-size: 1.250em;
      margin: 0px 0px 8px
  }

  .bbcid-form input.text,.bbcid-form input.password,.bbcid-form select {
    font-size:1em;
    height: 42px;
  }

  .bbcid-label-hint {
    top: 120px;
  }

  .bbcid-hint-1col {
    font-size: 1em;
    font-weight: normal;
    letter-spacing: 0;
    padding: 10px;
  }

}

@media only screen and (min-width: 320px) { /* GEL Group 1B */

.bbcid-form .bbcid-warning input.text {
background-image: url("../img/sprite.png");
background-repeat: no-repeat;
background-position: right -922px;
border-color: #ffad01;
}

.bbcid-form .bbcid-error input.text {
background-image: url("../img/sprite.png");
background-repeat: no-repeat;
/*--image-pos: calc(width - 35px);*/
/*background-position: var(--image-pos) -511px;*/
background-position: right -511px;
border-color: #a61616;
}

.bbcid-form .waiting input.text {
background-image: url("../img/spinner_20px.gif");
background-repeat: no-repeat;
background-position: right 10px;
}

.bbcid-form .valid input.text {
background-image: url("../img/sprite.png");
background-repeat: no-repeat;
background-position: right -785px;
}

}

@media only screen and (min-width: 400px) { /* GEL Group 2 */

.bbcid-form .bbcid-warning input.text {
background-image: url("../img/sprite.png");
background-repeat: no-repeat;
background-position: right -922px;
border-color: #ffad01;
}

.bbcid-form .bbcid-error input.text {
background-image: url("../img/sprite.png");
background-repeat: no-repeat;
/*--image-pos: calc(width - 35px);*/
/*background-position: var(--image-pos) -511px;*/
background-position: right -511px;
border-color: #a61616;
}

.bbcid-form .waiting input.text {
background-image: url("../img/spinner_20px.gif");
background-repeat: no-repeat;
background-position: right 10px;
}

.bbcid-form .valid input.text {
background-image: url("../img/sprite.png");
background-repeat: no-repeat;
background-position: right -785px;
}

}

@media only screen and (min-width: 600px) { /* GEL Group 3A */
 
.bbcid-form input.text,
.bbcid-form input.password,
.bbcid-form select,
.bbcid-form .bbcid-forgotpassword {
max-width: 252px; /* need to leave room for inline hint. */
}

.bbcid-form .bbcid-hint input.text {
border-color: #a7a7a7;
}

.bbcid-form .bbcid-warning input.text {
background-image: url("../img/sprite.png");
background-repeat: no-repeat;
background-position: right -922px;
border-color: #ffad01;
}

.bbcid-form .bbcid-error input.text {
background-image: url("../img/sprite.png");
background-repeat: no-repeat;
background-position: right -511px;
border-color: #a61616;
}

.bbcid-form .waiting input.text {
background-image: url("../img/spinner_20px.gif");
background-repeat: no-repeat;
background-position: right 10px;
}

.bbcid-form .valid input.text {
background-image: url("../img/sprite.png");
background-repeat: no-repeat;
background-position: right -785px;
}

.bbcid-hint-1col { /* HIDE 1 COLUMN (MOBILE) HINTS */
display: none;
}

.bbcid-hint-2col { /* SHOW 2COLUMN (Desktop style) HINTS */
display: inline-block;
position: relative;
top: -48px;
right: -270px;
}

.togglefix { /* temp fix to make this work with toggle buttons */
top: -10px;
right: -20px;
}

}

@media only screen and (min-width: 900px) { /* GEL Group 3b */
  /*Same as GROUP 3A*/
}

@media only screen and (min-width: 1008px) { /* GEL Group 4 */
  /*Same as GROUP 3B*/
}





/*


    FORM CTA's


*/

.bbcid-actions a,
.bbcid-actions a:hover,
.bbcid-actions a:focus,
.bbcid-actions a:active {
    text-decoration: none;
}


/* Main CTA Style */
.bbcid-actions .bbcid-button,
.bbcid-back-action {
    display:block;
    font-family: Arial,sans-serif;
    font-size: 1em;
    font-weight:bold;
    letter-spacing:-0.05em;
    text-align:center;
    line-height:28px;
    border:0;
    float:left
}

.bbcid-rtl .bbcid-actions .bbcid-button,
.bbcid-rtl .bbcid-back-action {
    float:right
}

.bbcid-actions .bbcid-button {
    padding: 0px 10px 0px 10px;
    /*height:35px;*/
    min-width:80px
}

.bbcid-back-action{
    padding: 16px 0;
    margin: 0 16px;
    height: 28px
}

.bbcid-actions a.bbcid-button{
    height:27px;
    margin-bottom: 0px;
}

.ie6 .bbcid-actions a.bbcid-button,
.ie7 .bbcid-actions a.bbcid-button{
    margin-top:4px;
    margin-bottom: 0px;
}

.bbcid-actions input.bbcid-button{
    min-width:100px
}

.ie6 .bbcid-actions .bbcid-button,
.ie7 .bbcid-actions .bbcid-button{
    line-height:1.3em;
    position:relative;
    top:-4px
}

.ie6 .bbcid-actions input.bbcid-button,
.ie7 .bbcid-actions input.bbcid-button{
    padding:0;
    line-height:1.2em;
    position:static
}

.ie8 .bbcid-actions input.bbcid-button{
    padding:4px 0
}

.bbcid-actions .submit,
.bbcid-actions .submit:link,
.bbcid-actions .submit:visited {
    color:white;
    background-color:#1790cf
}

.bbcid-actions .submit:focus,
.bbcid-actions .submit:hover,
.bbcid-actions .submit:active {
    background-color:#005383;
    text-decoration:none
}

.bbcid-actions a.continue:link,
.bbcid-actions a.continue:visited {
    color:white;
    background-color:#1790cf
}

.bbcid-actions a.continue:hover,
.bbcid-actions a.continue:focus,
.bbcid-actions a.continue:active{
    text-decoration:none;
    background-color:#005383
}

.bbcid-actions .submit.disabled{
    color:white;
    background-color:#c0c0c0
}

/* CTA - Responsive Styles */

@media only screen and (min-width: 320px) { /* GEL Group 1b */

  .bbcid-actions .bbcid-button {
      padding: 3px 10px 5px 10px;
      height: 35px;
      min-width: 80px;
  }

  .bbcid-actions .bbcid-button,
  .bbcid-back-action {
      font-size: 1.25em;
  }

}


/**


    CHECKBOXES


**/

.bbcid-checkbox-container label{
  padding-top:2px;
  margin-bottom:0
}


.bbcid-form .bbcid-checkbox-container input{
  float:left;
  margin:5px 0 13px 0
}


.ie6 .bbcid-form .bbcid-checkbox-container input,
.ie7 .bbcid-form .bbcid-checkbox-container input{
  margin-top:1px
}

/*label*/
.bbcid-form .rememberme-container label{
  float:left;
  width:auto;
  margin-right:8px;
  margin-left:8px;
  font-size:1em;
}
.bbcid-form .rememberme-container .description{
  font-size: 0.813em;
  position:relative;
  top: 1px
}

/*checkbox*/
.bbcid-form .bbcid-checkbox-container>a{
  width: 24px;
  height: 24px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -359px;
  display: block;
  float: left;
  position: relative
}
.bbcid-form .bbcid-checkbox-container .checked{
  background-position: 0 -383px
}



@media only screen and (min-width: 320px) {
  
  .bbcid-form .rememberme-container .description{
    font-size: 1em;
    position:relative;
    top: 1px
  }

}

@media only screen and (min-width: 600px) {

  .bbcid-form .rememberme-container .description{
    font-size: 0.813em;
    position:relative;
    top: 1px
  }

}


/* NOW THAT THE BASIC ELEMENTS ARE DEFINED, LET'S START WITH THE DEMO TEMPLATES:
MESSAGE, FORM, FORM + MESSAGE & SETTINGS. */

/** 

MESSAGE 

**/

@media only screen and (max-width: 599px) { /* Until GEL Group 2 */
  .message-reflow {
    padding: 0px;
  }
}

@media only screen and (min-width: 600px) { /* GEL Group 3B */
  .message-reflow {
    padding-left: 256px;
  }
}

/** 

FORM

**/


@media screen and (max-width: 899px) {
  .bbcid-section-info {
    border-top: solid 8px #1790cf;
    padding: 8px 0px 0px 0px;
    margin: 0px;
  }

  .bbcid-subsection-whatis-minimal {
    margin-left: 0px;
  }

  .right-arrow {
    float: right;
    padding: 16px 0px 16px 0px;
  }
}

@media screen and (min-width: 320px) {
  .bbcid-subsection-whatis-minimal a {
    padding-top: 16px;
    padding-bottom: 16px;
    line-height: 16px;
    display: block;
  }
}

@media screen and (max-width: 319px) {
  .right-arrow {
    float: right;
    padding: 0px;
  }
}

@media only screen and (min-width: 900px) {
  .minimal-id {
    display: none;
  }
}

/** 

FORM + MESSAGE

**/

@media screen and (max-width: 899px) {
  .page-icon-form-message {
      display: none;
    }

  .message-reflow-form-message {
    padding-left: 0px;
  } 
}

@media screen and (min-width: 900px) {
  .message-reflow-form-message {
    padding-left: 256px;
  } 
}

/**

SETTINGS

**/

@media only screen and (max-width: 319px) { /* GEL Group 1A */
  /* We only display 1A */
  .settings-group-3b, .settings-group-3a, .settings-group-2, .settings-group-1b {
    display: none;
  }
}

@media only screen and (min-width: 320px) and (max-width: 399px) { /* GEL GROUP 1B */
  /* We only display 1B */
  .settings-group-3b, .settings-group-3a, .settings-group-2, .settings-group-1a {
    display: none;
  }
}

@media only screen and (min-width: 400px) and (max-width: 599px) { /* GEL GROUP 2 */
  /* We only display 2 */
  .settings-group-3b, .settings-group-3a, .settings-group-1b, .settings-group-1a {
    display: none;
  }
}

@media only screen and (min-width: 600px) and (max-width: 899px) { /* GEL GROUP 3A */
/* We only display 3A */
.settings-group-3b, .settings-group-2, .settings-group-1b, .settings-group-1a {
    display: none;
  }
}

@media only screen and (min-width: 900px) { /* GEL GROUP 3B */
  /* We only display 3B, that's also valid for GROUP 4 */
  .settings-group-3a, .settings-group-2, .settings-group-1b, .settings-group-1a {
    display: none;
  }
}

.bbcid-display-field-container {
  padding: 16px 0;
  margin: 0px;
  border-bottom: 1px solid #c8c8c8;
  min-height: 40px;
  position: relative;
}

.bbcid-pre-form-settings {
    margin: 0px;
    padding: 0 0 16px 0;
    border-bottom: 1px solid #dceaf3;
}

.bbcid-display-field-container.last {
  border-bottom: 0;
}

.bbcid-post-form-settings {
    border-top: 1px solid #dceaf3;
}

.settings-hub {
  padding: 16px 16px 0px 0px;
}

.bbcid-display-field-container .name {
  color: #646464;
  min-height: 32px;
}

.bbcid-display-field-container .name,
.bbcid-display-field-container .value,
.bbcid-display-field-container .email-verification,
.bbcid-display-field-container .more-details-required {
  display: block;
  float: left;
  width: 140px;
  margin: 0;
  font-size: 16px;
}

.bbcid-display-field-container .value,
.bbcid-display-field-container .email-verification a,
.bbcid-display-field-container .action,
.bbcid-display-field-container .more-details-required a {
  font-weight: bold;
}

.bbcid-display-field-container .value,
.bbcid-display-field-container .email-verification,
.bbcid-display-field-container .more-details-required {
  width: 350px;
}

.bbcid-display-field-container .action {
  top: 16px;
}

.bbcid-display-field-container .action,
.bbcid-unlink {
  position: absolute;
  right: 16px;
  font-size: 1.231em;
}

.bbcid-display-field-container .value,
.bbcid-display-field-container .email-verification a,
.bbcid-display-field-container .action,
.bbcid-display-field-container .more-details-required a {
  font-weight: bold;
}

.bbcid-display-field-container .email-verification {
  margin-top: 8px;
}

.primary-column h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  padding: 0 0 16px 0;
}




/*GROUP 3 & 4*/

.bbcid-display-field-container .name,
.bbcid-display-field-container .value,
.bbcid-display-field-container .action a {
  font-size: 16px;
}

.bbcid-display-field-container .email-verification {
  font-size: 13px;
}

.bbcid-display-field-container .action a {
  font-weight: bold;
}


/**


      EXTRA UTILITY CLASSES


**/

/*
  RESPONSIVE REPORTER
*/
body:after {
  content: "Group 1A: <319px";
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.75em;
  // background-color: hsla(201, 80%, 45%, 0.5);
  font-size: 0.7em;
  line-height: 3em;
  text-align: center;
  color: #fff;
  z-index: 2;
}

@media only screen and (min-width: 320px) {
  body:after {
    content: "Group 1B: 320px - 399px";
    /*font-size: 1em;*/
  } 
}
@media only screen and (min-width: 400px) {
  body:after {
    content: "GEL Group 2: 400px - 599px";
  } 
}
@media only screen and (min-width: 600px) {
  body:after {
    content: "GEL Group 3A: 600px - 899px";
  } 
}
@media only screen and (min-width: 900px) {
  body:after {
    content: "GEL Group 3B: 900px - 1007px (Content Reflow)";
  } 
}
@media only screen and (min-width: 1008px) {
  body:after {
    content: "GEL Group 4: 1008px+";
  } 
}

/* CLEARFIX (from BBC base.css) */
.blq-clearfix::after{
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden
}
